.mla-departments-form {
  .error {
    color: red;
    font-size: 0.8rem;
  }

  .authentication-loading {
    margin-left: 20px;
    margin-top: 20px;
  }

  input {
    font-size: 0.8rem;
    border: 1px solid #ccc;
  }
}
